@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
}

body {
  background-color: var(--pnt-color-1-background);
  min-height: 100%;
  overflow-y: scroll;
  position: relative;
}

:root {
  --pnt-color-1-background: rgb(245, 244, 244);
  --pnt-color-2: rgb(211, 210, 210);
  --pnt-color-3: rgb(123, 122, 122);
  --pnt-color-4: rgb(248, 234, 234);
}
